<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlecorgi.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rxjava_test.RxJavaMainActivity" />

        <service
            android:name=".leakcanary_test.service.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".leakcanary_test.BroadcastLeakCanaryActivity" />
        <activity android:name=".leakcanary_test.ServiceLeakCanaryActivity" />
        <activity android:name=".eventbus_test.BaseEventBusActivity" />
        <activity android:name=".leakcanary_test.EventBusLeakMemoryActivity" />
        <activity android:name=".leakcanary_test.HandlerLeakMemoryActivity" />
        <activity android:name=".leakcanary_test.LeakCanaryActivity" />
        <activity android:name=".network_test.retrofit.RetrofitActivity" />
        <activity android:name=".network_test.okhttp.OkHttpActivity" />
        <activity android:name=".network_test.NetworkActivity" />

        <receiver
            android:name=".broadcast_test.ManifestBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="100">
                <action android:name="com.littlecorgi.test.ManifestBroadcast" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcast_test.BroadcastActivity" />
        <activity android:name=".mvvm_test.MvvmActivity" />
        <activity android:name=".lifecycle_test.BackLifecycleActivity" />
        <activity android:name=".eventbus_test.EventBusActivity" />
        <activity
            android:name=".lifecycle_test.LifecycleActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>